.bg-primary {
    background-color: #f39200;
}

.bg-secondary {
    background-color: #5DC5EA;
    color: #fff;
}

header {
	background-color: #5DC5EA;
}

#activities .activity:nth-child(2n+1) {
    background-color: #8bd1ef;
    /*border: 2px solid;
    border-color: #f39200;*/
}